.align-panel-headtxt {
  font-weight: 700;
  font-size: 39px;
  line-height: 42px;
  color: #1C2129;
  margin-bottom: 32px;
}

.align-panel-content {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 24px;
}

.tab-search-element {
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  width: max-content;
}

.tabs-nav-panel {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-goal-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #F58A43;
  display: flex;
  align-items: center;
}

.details-panel-nav {
  display: flex;
  align-items: center;
  flex: 18;
  padding: 15px;
  background: #EAECEF;
  border-radius: 8px 8px 0px 0px;
}

.details-panel-nav.no-bg {
  background: #fff;
  border-radius: 0px;
  border-bottom: solid 1px #EAECEF;
  padding: 12px 15px;
}

.flx-1 {
  flex: 1;
}

.flx-2 {
  flex: 2;
}

.flx-3 {
  flex: 3;
}

.flx-5 {
  flex: 5;
}

.flx-7 {
  flex: 7;
}

.dtls-pnl-navtxt {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #989EA5;
  text-align: center;
}

.dtls-pnl-guidnce img {
  width: 16px;
}

.dtls-pnl-guidnce span {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.dtls-pnl-guidnce {
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #2E5DB0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dtls-pnl-guidnce.disabled {
  color: #989EA5;

}

.dtls-pnl-moretxt {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #2E5DB0;
  cursor: pointer;
}

.dtls-pnl-goaltxt {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5D636B;
}

.dtls-pnl-snotxt {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #5D636B;
}

.dtls-pnl-navtxt.left {
  text-align: left;
}

.dtls-pnl-asignee {
  display: flex;
  align-items: center;
  justify-content: center;
}

.assinge-icons {
  border-radius: 50%;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2DC887;
  height: 22px;
  width: 22px;
  background: #DFFFF2;
  margin-left: -5px;
}

.assinge-icons.ver2 {
  background: #FDF9E4;
  color: #EFD02E;
}

.align-panel-page .MuiFormControlLabel-root {
  margin-right: 30px;
}

.align-panel-page .MuiPaper-root-MuiDialog-paper {
  background-color: #F4F4F5;
}

.align-panel-page .MuiTabs-indicator {
  background-color: transparent
}

.align-panel-page .MuiButtonBase-root.MuiTab-root.Mui-selected {
  color: #3E4248;
  font-weight: 600;
}

.align_tabs .MuiTabs-flexContainer {
  border: none;
}

.align_tabs .MuiTab-root {
  width: auto;
}

.align-panel-page .MuiButtonBase-root.MuiRadio-root.Mui-checked {
  color: #1C2129;
}

.align-panel-page .MuiLinearProgress-root {
  background: #EAECEF !important;
}

.align-panel-page .MuiTabPanel-root {
  padding: 0;
}

.align-panel-page .MuiButton-root.align_cta {
  padding: 6px;
  font-weight: 600;
  font-size: 12px;
  width: 120px;
}

.mygols-tabs-holder {
  border: 1px solid #EAECEF;
  border-radius: 0px 0px 16px 16px;
  max-height: 450px;
  overflow: auto;
}

.align-intab-head {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #1C2129;
  margin-bottom: 24px;
  margin-top: 40px;
}

.aln-orggols-holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.orgnz-gols-box {
  background: #FFFFFF;
  border: 1px solid #EAECEF;
  border-radius: 16px;
  padding: 24px;
  flex: 0 0 calc(32% - 48px);
  margin-bottom: 2%;
}

.goals-box-headtxt {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #1C2129;
  margin-bottom: 8px;
}

.goals-box-subtxt {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5D636B;
  margin-bottom: 15px;
}

.goalbox-cmnt-btn img {
  width: 18px;
  margin-top: 3px;
}

.goalbox-cmnt-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2E5DB0;
  display: flex;
  align-items: center;
  margin-left: auto;
  width: max-content;
}

.guidance-modal-box {
  background: #FFFFFF;
  border: 2px solid #EAECEF;
  border-radius: 16px;
  margin: 12px;
  margin-top: 32px;
  padding: 32px;
  max-width: 260px;
  cursor: pointer;
}

.guidance-modal-box:hover {
  border: 2px solid #5D636B;
  box-shadow: 0px 4px 24px rgba(126, 126, 126, 0.25);
}

.gdnce-modal-img {
  width: 80px;
  margin: auto;
}

.gdnc-modal-headtxt {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #1C2129;
  margin-bottom: 4px;
  margin-top: 15px;
}

.gdnc-modal-headtxt2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #1C2129;
  margin-bottom: 8px;
}

.gdnc-modal-subtxt {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #5D636B;
}

.modal-guidance-holder {
  display: flex;
}

.modal-close-btn {
  width: 20px;
  margin-left: auto;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
}

.gl-modify-txtbox {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 32px;
}

.gl-modify-status {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1BAD70;
  padding: 6px 24px;
  margin-bottom: 16px;
  background: #DFFFF2;
  border-radius: 8px;
  width: max-content;
}

.txt-left {
  text-align: left;
}

.modify-spl-marg {
  margin-bottom: 40px;
  text-align: left;
}

.modify-spl-flx {
  display: flex;
  justify-content: space-between;
}

.glmodify-subboxes-hold {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gl-modify-txtbox2 {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 16px;
  flex: 0 0 calc(49% - 32px);
  margin-top: 2%;
}

.gl-modify-txtbox-clr {
  background: #D9F6FF;
  border: 1px solid #55B6C3;
  border-radius: 8px;
  padding: 16px 24px;
  margin: 10px 0 20px;
}

.txtbox-clr2 {
  background: #FFFFFF;
  border: 2px solid #EAECEF;
}

.modify-leftrigh-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modify-leftrigh-panel.reviewpage {
  align-items: flex-start;
  background: #F4F4F5;
}

.modify-leftpanel-strt {
  background-color: #F4F4F5;
  padding: 60px 34px 34px 40px;
  width: 650px;
}

.modify-leftpanel {
  width: calc(50% - 80px);
  background-color: #F4F4F5;
  padding: 60px 34px 34px 40px;
}

.modify-rightpanel {
  width: calc(50% - 68px);
  padding: 60px 40px 40px 40px;
  background-color: white;
}

.align-modify-rightpanel {
  width: calc(50% - 30px);
}

.modify-rightpanel.reviewpage {
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 180px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modify-modal-element .MuiDialog-container .MuiPaper-root,
.align-modal-element .MuiDialog-container .MuiPaper-root {
  padding: 0px;
  max-height: 100%;
}

.mar-t50 {
  margin-top: 50px;
}

.mar-t30 {
  margin-top: 30px;
}

.modify-modal-element .MuiButton-root {
  padding: 12px 40px;
  width: max-content;
  margin-left: 50px;
}

.modify-modal-element .MuiInputBase-root.MuiOutlinedInput-root {
  padding: 0;
}

.datepicker-container {
  width: 150px;
}

.date-inputs-holder {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 40px;
}

.reviewpage .MuiTextField-root {
  min-width: 210px;
}

.modfy-icons-holdead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.ask-expert-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #F58A43;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  justify-content: center;
  cursor: pointer;
}

.manager-time-modal .MuiDialog-container .MuiPaper-root,
.expert-time-modal .MuiDialog-container .MuiPaper-root {
  max-width: 480px;
}

.goal-feel-radios .MuiFormGroup-root {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.radios-back-bar {
  height: 8px;
  width: calc(100% - 95px);
  margin: auto;
  background: #EAECEF;
  margin-bottom: -25px;
  margin-top: 30px;
}

.goal-feel-radios .MuiButtonBase-root.MuiRadio-root.Mui-checked {
  color: #2E5DB0;
}

.txtbox-clr2 .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: 2px solid #F4F4F5;
  background: #F4F4F5;
}

.start_align_popup_subtext {
  font-size: 20px;
}

.goal_dtls_flex {
  align-items: normal;
}

.goal_dtls_flex.gap {
  gap: 16px;
}

.aligngl_dtls_rght_innr {
  background: #F4F4F5;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: calc(100% - 50px); */
}

.aligngl_status_box {
  text-align: left;
}

.aligngl_status_flex {
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.aligngl_status_pasttym,
.aligngl_status_msg {
  color: #3E4248;
  font-size: 16px;
}

.aligngl_status_pasttym {
  font-weight: 500;
}

.aligngl_status_time {
  color: #3E4248;
  font-size: 12px;
}

.aligngl_status_msg {
  font-weight: 600;
}

.aligngl_quest_cont {
  text-align: left;
}

.aligngl_quest_box {
  background-color: #DFEBF6;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 8px;
}

.aligngl_quest_heading {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #1C2129;
}

.aligngl_post_answ,
.aligngl_cmnt_answ,
.aligngl_rply_answ {
  padding: 12px 16px;
  margin: 8px 0;
  border-radius: 4px;
  color: #3E4248;
  font-size: 16px;
}

.aligngl_post_answ {
  background-color: #FFFFFF;
}

.aligngl_cmnt_answ,
.aligngl_rply_answ {
  background-color: #EAECEF;
}

.aligngl_cmnt_cta_flex {
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.aligngl_cmnt_cta_heading {
  cursor: pointer;
  color: #5D636B;
  font-size: 12px;
}

.aligngl_post_cont {
  height: calc(650px - 100px);
  overflow-x: auto;
  padding-right: 15px;
  margin-bottom: 24px;
}

.aligngl_auth_flex {
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.aligngl_auth_name {
  text-align: left;
  font-weight: 500;
  color: #3E4248;
  font-size: 13px;
}

.aligngl_auth_desg {
  text-align: left;
  color: #989EA5;
  font-size: 10px;
}

.aligngl_cmnt_box {
  text-align: left;
  padding-left: 20px;
  margin-top: 24px;
}

.aligngl_reply_box {
  text-align: left;
  padding-left: 40px;
  margin-top: 24px;
}

.aligngl_cmnt_txtfld_flex,
.aligngl_rply_txtfld_flex {
  margin-top: 12px;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.aligngl_rply_txtfld_flex {
  padding-left: 20px;
}

.aligngl_cmnt_txtfld,
.aligngl_rply_txtfld {
  width: 100%;
}

.aligngl_status_box.mb {
  margin-bottom: 24px;
}

.aligngl_quest_heading.mt {
  margin-top: 16px;
}

.aligngl_quest_heading.mb {
  margin-bottom: 16px;
}

.aligngl_quest_box .standard_cta_box {
  margin-top: 24px;
  text-align: right;
}

.aligngl_quest_box .standard_cta,
.mngralgn_rjct_inpt_box .standard_cta {
  padding: 6px 24px !important;
  width: 95px !important;
  font-size: 12px !important;
}

.aligngl_askquest_back,
.mngralgn_askquest_back {
  display: table;
  cursor: pointer;
}

.aligngl_askquest_back .go_back_flex,
.mngralgn_askquest_back .go_back_flex {
  margin-left: -6px;
  gap: 5px;
}

.aligngl_askquest_back .go_back_flex {
  font-size: 12px;
}

.aligngl_askquest_back .MuiSvgIcon-root {
  font-size: 20px;
}

.aligngl_status_hr {
  margin: 24px 0;
  color: #C8CDD4;
}

.aligngl_post_cont .aligngl_status_hr:last-of-type {
  display: none;
}

.aligngl_rght_innr_bottom {
  display: grid;
  grid-template-columns: 140px 1fr;
  gap: 8px;
}

.algn_sendto_drpdwn .MuiOutlinedInput-input,
.algn_askqust_txtfld .MuiOutlinedInput-input {
  padding: 12px 16px;
}

.algn_sendto_drpdwn .MuiFormControl-root,
.algn_askqust_txtfld .MuiFormControl-root {
  background-color: #FFFFFF;
}

.algn_sendto_drpdwn .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline,
.algn_askqust_txtfld .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-radius: 4px;
  border: 2px solid #FFFFFF;
}

.algn_sendto_drpdwn .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.algn_askqust_txtfld .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-radius: 4px;
  border: 2px solid #2E5DB0;
}

.algn_sendto_drpdwn .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.algn_askqust_txtfld .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-radius: 4px;
  border: 2px solid #2E5DB0;
}

.algn_sendto_drpdwn .dropdown {
  text-align: left;
  border-radius: 4px;
  height: auto;
  padding: 12px;
}

.algn_sendto_drpdwn .drpdwn_option {
  cursor: pointer;
  padding: 8px 10px;
  color: #3E4248;
  font-size: 16px;
}

.algn_sendto_drpdwn .drpdwn_option:hover {
  background-color: #EAECEF;
  border-radius: 4px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .align-panel-content .tabs-nav-panel {
    align-items: start;
    flex-direction: column;
    gap: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .align-panel-content .details-panel-nav {
    display: none;
  }

  .align-panel-content .mygols-tabs-holder {
    border-radius: 16px;
    max-height: none;
    padding: 16px;
    margin-bottom: 8px;
  }

  .align_my_goals.tab .MuiLinearProgress-root {
    margin: 12px 0 25px;
  }

  .align_my_goals.tab .align_my_goals_btm,
  .align_my_goals.tab .align_my_goals_btminnr {
    flex-direction: row;
    align-items: center;
  }

  .align_my_goals.tab .align_my_goals_btm {
    justify-content: space-between;
    gap: 16px;
  }

  .align_my_goals.tab .align_my_goals_btminnr {
    justify-content: center;
    gap: 8px;
  }

  .align_my_goals.tab .dtls-pnl-guidnce {
    gap: 4px;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .align-panel-content .MuiTabs-root .MuiTabs-scroller {
    overflow: auto !important;
  }

  .goal_dtls_flex {
    flex-direction: column;
  }

  .modify-leftrigh-panel.reviewpage {
    flex-direction: column;
  }

  .modify-rightpanel.reviewpage {
    min-height: unset;
    max-height: unset;
  }

  .modify-leftpanel,
  .modify-rightpanel {
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1253px) {
  .align-panel-page .MuiButton-root.align_cta {
    font-size: 10px;
    width: 85px;
  }
}

@media (min-width: 1024px) {
  .align_my_goals.tab {
    display: none;
  }
}

@media (min-width: 1366px) {
  .modify-leftrigh-panel.reviewpage .modify-leftpanel,
  .modify-leftrigh-panel.reviewpage .modify-rightpanel.reviewpage {
    width: 50%;
  }

  .modify-leftrigh-panel.reviewpage .modify-rightpanel.reviewpage {
    min-height: unset;
    max-height: unset;
  }
}

@media (min-width: 768px) and (max-width: 1513px) {
  .discuss_resp .aligngl_rght_innr_bottom {
    grid-template-columns: none;
  }

  .discuss_resp .algn_sendto_drpdwn .dropdown {
    z-index: 1;
  }
}
